:root {
	--red: #ff3a3a;
	--black: #3a3a3a;
	--teal: #0b828a;
	--rteal: rgba(3,173,169,0.3);
	--orange: #f8b715;
	--white: #fff;
	--grey: darkgrey;
	--icebreaker: "icebreaker";
	--movie-title: "movie-title-ah";
}